@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



/* From Uiverse.io by Allyhere */ 
.keldim_btn {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(    325deg,    var(--btn-bg-2) 0%,    var(--btn-bg-1) 55%,    var(--btn-bg-2) 90%  );
  border: none;
  color: var(--btn-bg-color);
  box-shadow:    0px 0px 50px rgba(71, 184, 255, 0.5),    0px 5px 5px -1px rgba(58, 125, 233, 0.25),    inset 4px 4px 8px rgba(175, 230, 255, 0.5),    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  -webkit-border-radius: var(--radii);
  -moz-border-radius: var(--radii);
  -ms-border-radius: var(--radii);
  -o-border-radius: var(--radii);
}
.ketdim_btn {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(255, 179, 97);
  --btn-bg-2: rgb(255, 31, 31);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(    325deg,    var(--btn-bg-2) 0%,    var(--btn-bg-1) 55%,    var(--btn-bg-2) 90%  );
  border: none;
  color: var(--btn-bg-color);
  box-shadow:    0px 0px 50px rgba(255, 71, 71, 0.5),    0px 5px 5px -1px rgba(58, 125, 233, 0.25),    inset 4px 4px 8px rgba(175, 230, 255, 0.5),    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  -webkit-border-radius: var(--radii);
  -moz-border-radius: var(--radii);
  -ms-border-radius: var(--radii);
  -o-border-radius: var(--radii);
}

.keldim_btn:hover {
  background-position: right top;
}

.ketdim_btn:hover {
  background-position: right top;
}

.keldim_btn:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 30px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}
.ketdim_btn:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 30px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .keldim_btn {
    transition: linear;
  }
  .ketdim_btn {
    transition: linear;
  }
}
